@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&family=Roboto&display=swap");
/* Layout */

body {
  font-style: normal;
}

#app .movie {
  margin: 100px auto 0;
  width: 1060px;
  padding: 39px 24px 27px 25px;
  background-color: #f2f2f2;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  box-sizing: border-box;
}

#app h1 {
  margin: 0 auto 26px;
  width: 650px;
  padding-bottom: 35px;
  font-family: "Roboto";

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  border-bottom: 2px solid #bdbdbd;
}

.movie .tab-movie {
  display: flex;
  justify-content: space-between;
  width: 372px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.movie .tab-movie div {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

.movie .tab-movie .now-movie {
  font-weight: 900;
  color: #000000;
}

.movie .list-movie {
  padding: 23px 24px 27px 24px;
  border: 2px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
}

/* Component */
.movie .list-movie li {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.list-movie .box-item {
  padding: 18px 19px 0;
  text-align: left;
}

.list-movie .box-item::after {
  content: "";
  display: block;
  clear: both;
}

.list-movie .img-item {
  width: 180px;
  height: 250px;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-movie .box-item .title-movie {
  display: block;
  margin-bottom: 12px;
  font-family: "Noto Sans KR";

  font-weight: 900;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}

.box-item dt {
  margin-right: 5px;
  font-family: "Noto Sans KR";

  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #828282;
}

.box-item dd {
  font-family: "Noto Sans KR";

  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}

.box-item .list-info .summary,
.box-item .list-info .item-star {
  margin-bottom: 5px;
  display: flex;
}

.box-item .list-info .summary {
  float: left;
}

.box-item .list-info .item-star {
  float: right;
}

.box-item .list-info .item-star dd::before {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  content: "";
  display: inline-block;
  background-image: url("./img/star.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center;
  line-height: 20px;
}

.box-item .list-info .release,
.box-item .list-info .appearance {
  display: flex;
  float: left;
}

.box-item .list-info .release {
  margin-bottom: 5px;
}

.box-item .list-info .appearance {
  margin-bottom: 18px;
}

.list-movie .link-item {
  display: flex;
  border-top: 1px solid #bdbdbd;
  position: relative;
  background: #f2f2f2;
  border-radius: 0 0 10px 10px;
}

.list-movie .link-item a {
  width: 50%;
  padding: 9px 0 12px 0;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "Noto Sans KR";

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.list-movie .link-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #bdbdbd;
  left: 50%;
  transform: translate(-50%);
}

.list-movie .link-teaser::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url("./img/movie-list/play.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -3px;
}

.list-movie .link-teaser::after {
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1px;
  color: transparent;
}

.container-company {
  margin-top: 133px;
  background: #f2f2f2;
}

.container-company .company {
  margin: 0 auto;
  padding: 53px 0 38px 0;
  width: 1189px;
}

.container-company .title-company {
  margin-bottom: 41px;
  font-family: "Roboto";

  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  float: left;
}

.container-company .link-sns {
  display: flex;
  float: right;
}


.container-company li {
  margin-left: 24px;
}
.container-company .link-sns img {
  width: 24px;
  height: 24px;
}

/* Clear Fix */

.container-company .com-link::after {
  content: "";
  display: block;
  clear: both;
}

.container-company .container-company-info::before {
  content: "";
  display: block;
  width: 1189px;
  height: 1px;
  background-color: #c4c4c4;
  margin-bottom: 35px;
}

.company .company-info > dt,
dd {
  float: left;
}

.company .company-info dt {
  margin-right: 5px;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #4f4f4f;
}

.company .company-info dd {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
}

.company .company-info dd {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #4f4f4f;
  box-sizing: border-box;
}

.company .company-info dd:last-child {
  border: none;
}

.company .company-info :nth-child(2) {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #4f4f4f;
}

.container-company-info .jungle {
  float: right;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
}

/* Clear Fix */
.container-company-info::after {
  content: "";
  display: block;
  clear: both;
}
